@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=checkbox] {width:18px; height:18px;}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    width: 8px;
    height: 8px;
}

.tight-shadow {
    -webkit-filter: drop-shadow(8px 8px 8px #222);
    filter: drop-shadow(8px 8px 8px #222);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

h1 {
    @apply block text-3xl mb-2 w-full;
}

h2 {
    @apply block text-2xl mb-2 w-full;
}

h3 {
    @apply block text-xl mb-2 w-full;
}

ul {
    @apply block list-disc pl-8;
}

p {
    @apply block w-full mb-1;
}

nav ul {
    @apply list-none;
}

a {
    @apply text-blue-500 hover:text-blue-800 border-b-2 border-blue-500;
}

.z-max {
    z-index: 999999;
}